Repository ostreedev/ostree, pull requests merged in 2019-11, with the labels that each got.

#1965 tests/core: Fallback to en_US.UTF-8 locale
  tests/libtest-core.sh
Labels: approved, lgtm, needs-ok-to-test, size/S

#1966 Fix tests with musl
  tests/libtest-core.sh
  tests/libtest.sh
  tests/pull-test.sh
  tests/test-admin-gpg.sh
  tests/test-pull-mirrorlist.sh
Labels: approved, lgtm, needs-ok-to-test, size/S

#1969 Makefile: declare ostree_boot_SCRIPTS and append values
  Makefile-boot.am
  Makefile-decls.am
  Makefile-switchroot.am
Labels: approved, lgtm, needs-ok-to-test, size/XS

#1970 lib/keyfile: Treat "group not found" the same as "key not found"
  src/libotutil/ot-keyfile-utils.c
  tests/test-keyfile-utils.c
Labels: approved, lgtm, size/M

#1971 build: create tests directory for split builds
  buildutil/glib-tap.mk
Labels: approved, lgtm, needs-ok-to-test, size/XS

#1909 lib/kernel-args: Store kernel args as key/value entries
  src/libostree/ostree-kernel-args.c
  src/libostree/ostree-kernel-args.h
  tests/test-admin-deploy-karg.sh
  tests/test-kargs.c
Labels: approved, lgtm, size/L

#1968 libostree: Add ostree_async_progress_copy_state()
  apidoc/ostree-sections.txt
  src/libostree/libostree-devel.sym
  src/libostree/ostree-async-progress.c
  src/libostree/ostree-async-progress.h
Labels: approved, lgtm, ok-to-test, size/M

#1976 tests/repo-finder: Run realpath() on /tmp
  tests/test-repo-finder-mount.c
Labels: approved, lgtm, size/XS

#1978 Avoid race condition when building outside of source tree
  Makefile-ostree.am
Labels: approved, lgtm, needs-ok-to-test, size/XS
