Repository ostreedev/ostree, pull requests merged in 2019-10, with the labels that each got.

#1938 OWNERS: New file
  OWNERS
Labels: size/S

#1933 A few more scan-build fixes
  src/libostree/ostree-repo-commit.c
  src/libostree/ostree-repo.c
  src/libostree/ostree-sysroot-deploy.c
  src/libostree/ostree-sysroot.c
Labels: approved, lgtm

#1932 libostree: Add an assert to pacify clang-analyzer
  src/libostree/ostree-repo-checkout.c
Labels: approved, lgtm, size/XS

#1912 Gate ostree-trivial-httpd on BUILDOPT_TRIVIAL_HTTPD
  Makefile-ostree.am
  Makefile.am
  ci/build.sh
  ci/travis-build.sh
  configure.ac
Labels: approved, lgtm

#1945 ci: Trim PAPR config to drop required flag
  .papr.yml
Labels: approved, lgtm, size/S

#1949 repo: Stop using deprecated G_GNUC_FUNCTION
  src/libostree/ostree-repo.c
Labels: approved, lgtm, needs-ok-to-test, size/XS

#1947 More scan build 2
  src/libostree/ostree-repo-commit.c
  src/libostree/ostree-repo-pull.c
  src/libotutil/ot-checksum-utils.c
  src/libotutil/ot-variant-builder.c
  tests/libostreetest.c
  tests/test-keyfile-utils.c
Labels: approved, lgtm, size/M

#1950 Revert trivial httpd changes (#1912)
  Makefile-ostree.am
  Makefile.am
  ci/build.sh
  ci/travis-build.sh
  configure.ac
Labels: approved, lgtm, ok-to-test, size/S

#1952 build-sys: Rename internal conditionals for trivial-httpd
  Makefile-man.am
  configure.ac
Labels: approved, lgtm, size/XS

#1954 lib/pull: Avoid calling destroy on unref'ed GSource
  src/libostree/ostree-repo-pull.c
Labels: approved, lgtm, size/XS

#1956 tests/export: Guard with check for libarchive
  tests/test-export.sh
Labels: approved, lgtm, needs-ok-to-test, size/XS

#1955 Revert grub2 exit, add new grub2: Honor /boot/.grub2-bls-enabled
  src/boot/grub2/grub2-15_ostree
Labels: approved, lgtm, size/XS

#1961 lib/pull: Tweak update_timeout logic again
  src/libostree/ostree-repo-pull.c
Labels: approved, lgtm, size/XS

#1953 async-progress: Plug memory leak while destroying GSource
  src/libostree/ostree-async-progress.c
Labels: approved, lgtm, needs-ok-to-test, size/XS

#1962 lib/deploy: Also install HMAC file into /boot
  src/libostree/ostree-sysroot-deploy.c
  tests/libtest.sh
  tests/test-admin-deploy-none.sh
Labels: approved, lgtm, size/M
