Repository ostreedev/ostree, pull requests merged in 2019-12, with the labels that each got.

#1980 README.md: Tweak text about BuildStream
  README.md
Labels: approved, lgtm, needs-ok-to-test, size/XS

#1221 pull: Add support for basic auth
  Makefile-tests.am
  src/libostree/ostree-fetcher-curl.c
  src/ostree/ostree-trivial-httpd.c
  tests/test-pull-basicauth.sh
Labels: WIP, approved, lgtm, size/M

#1981 Release 2019.6
  configure.ac
  src/libostree/libostree-devel.sym
  src/libostree/libostree-released.sym
  tests/test-symbols.sh
Labels: approved, lgtm, size/S

#1767 Support mounting /sysroot (and /boot) read-only
  Makefile-switchroot.am
  apidoc/ostree-sections.txt
  src/boot/ostree-remount.service
  src/libostree/libostree-devel.sym
  src/libostree/ostree-impl-system-generator.c
  src/libostree/ostree-sysroot-cleanup.c
  src/libostree/ostree-sysroot-deploy.c
  src/libostree/ostree-sysroot-private.h
  src/libostree/ostree-sysroot.c
  src/libostree/ostree-sysroot.h
  src/ostree/ot-admin-builtin-finalize-staged.c
  src/ostree/ot-main.c
  src/switchroot/ostree-remount.c
Labels: approved, lgtm, size/L
