Repository ostreedev/ostree, pull requests merged in 2020-06, with the labels that each got.

#2119 bupsplit: rustfmt(*)
  rust/.gitignore
  rust/src/bupsplit.rs
Labels: approved, lgtm

#2048 Add new Rust-based tests
  .cci.jenkinsfile
  tests/basic-test.sh
  tests/inst/.gitignore
  tests/inst/Cargo.toml
  tests/inst/itest-macro/Cargo.toml
  tests/inst/itest-macro/src/itest-macro.rs
  tests/inst/src/insttest.rs
  tests/inst/src/repobin.rs
  tests/inst/src/sysroot.rs
  tests/inst/src/test.rs
  tests/kola/nondestructive/.gitignore
  tests/kolainst/Makefile
  tests/runkola
Labels: approved, lgtm

#2122 tests/rust: Extract a with_webserver_in helper wrapper
  tests/inst/src/repobin.rs
  tests/inst/src/test.rs
Labels: approved, lgtm

#2123 commit: Note in help that --base takes an argument
  src/ostree/ot-builtin-commit.c
Labels: approved, lgtm

#2126 Improve checkout man page
  man/ostree-checkout.xml
  src/ostree/ot-builtin-checkout.c
Labels: approved, lgtm, ok-to-test

#2121 core: Add OSTREE_COMMIT_META_KEY_ARCH
  src/libostree/ostree-core.h
Labels: approved, lgtm

#2128 tests: Add a pre-signed-pull.sh test
  Makefile-tests.am
  tests/pre-signed-pull-data.tar.gz
  tests/test-pre-signed-pull.sh
Labels: approved, lgtm

#2129 sign/ed25519: Output failed signatures in error message
  src/libostree/ostree-sign-ed25519.c
  tests/test-pre-signed-pull.sh
  tests/test-signed-commit.sh
  tests/test-signed-pull-summary.sh
Labels: approved, lgtm

#2134 Fix abort on verify
  src/libostree/ostree-sign-ed25519.c
Labels: approved, lgtm

#2132 libostree-devel.sym: Remove nonexistent stub symbol
  src/libostree/libostree-devel.sym
Labels: approved, lgtm

#2135 tests: Check that example symbol isn't released
  tests/kolainst/libtest-core.sh
  tests/test-symbols.sh
Labels: approved, lgtm

#2133 ci: Import latest ci-commitmessage-submodules from rpm-ostree
  ci/Makefile.dist-packaging
  ci/build-check.sh
  ci/build-rpm.sh
  ci/build.sh
  ci/ci-commitmessage-submodules.sh
  ci/flatpak.sh
  ci/installdeps.sh
  ci/libbuild.sh
  ci/make-git-snapshot.sh
  ci/provision-prep.sh
  ci/rpmbuild-cwd
  ci/rpmostree.sh
Labels: approved, lgtm

#2137 sysroot: Remove unimplemented ostree_sysroot_lock_with_mount_namespace
  src/libostree/ostree-sysroot.h
Labels: approved, lgtm

#2136 core: Add documentation for ostree_commit_get_timestamp()
  src/libostree/ostree-core.c
Labels: approved, lgtm

#2138 tests: Port to Debian autopkgtest reboot API
  tests/kolainst/destructive/staged-delay.sh
  tests/kolainst/destructive/staged-deploy.sh
  tests/kolainst/destructive/var-mount.sh
  tests/kolainst/libinsttest.sh
Labels: approved, lgtm

#2001 deploy: support devicetree directory
  src/libostree/ostree-bootloader-uboot.c
  src/libostree/ostree-sysroot-deploy.c
  tests/test-admin-deploy-uboot.sh
Labels: approved, lgtm, ok-to-test, size/M

#2131 signapi: Change API to also return a success message
  src/libostree/ostree-repo-pull-private.h
  src/libostree/ostree-repo-pull-verify.c
  src/libostree/ostree-repo-pull.c
  src/libostree/ostree-sign-dummy.c
  src/libostree/ostree-sign-dummy.h
  src/libostree/ostree-sign-ed25519.c
  src/libostree/ostree-sign-ed25519.h
  src/libostree/ostree-sign.c
  src/libostree/ostree-sign.h
  src/ostree/ot-builtin-sign.c
  tests/test-signed-commit.sh
Labels: approved, lgtm
