Repository ostreedev/ostree, pull requests merged in 2020-03, with the labels that each got.

#2018 ci: migrate to new coreos-ci project
  .cci.jenkinsfile
Labels: approved, lgtm, size/M

#2028 ci: Test kola --upgrades
  .cci.jenkinsfile
Labels: approved, lgtm

#2029 ci: use `fcosKola` for running kola tests
  .cci.jenkinsfile
Labels: approved, lgtm

#2027 main: Also automatically remount rw /sysroot for `ostree pull` etc.
  src/ostree/ot-main.c
Labels: approved, lgtm, size/M

#2030 Release 2020.3
  configure.ac
Labels: approved, lgtm

#2033 main/pin: Fix usage of GError
  src/ostree/ot-admin-builtin-pin.c
Labels: approved, lgtm

#2034 bin/diff: Clarify documentation around REV and DIR syntax
  man/ostree-diff.xml
  src/ostree/ot-builtin-diff.c
Labels: approved, lgtm

#2025 tests: Rework tests/installed → tests/kola
  tests/installed/README.md
  tests/installed/destructive-ansible.yml
  tests/installed/destructive-unit.yml
  tests/installed/destructive/README.md
  tests/installed/destructive/var-mount.yml
  tests/installed/execute_batch.yml
  tests/installed/libinsttest.sh
  tests/installed/nondestructive.yml
  tests/installed/nondestructive/libtest-core.sh
  tests/installed/playbook-run.sh
  tests/installed/provision.sh
  tests/installed/run.sh
  tests/installed/tasks/disable-all-rpmmd-repos.yml
  tests/installed/tasks/install-git.yml
  tests/installed/tasks/overlay-git.yml
  tests/installed/tasks/query-host.yml
  tests/installed/tasks/reboot.yml
  tests/kola/README.md
  tests/kola/destructive/data
  tests/kola/destructive/itest-bare-root.sh
  tests/kola/destructive/itest-deploy-selinux.sh
  tests/kola/destructive/itest-label-selinux.sh
  tests/kola/destructive/staged-deploy.sh
  tests/kola/destructive/var-mount.sh
  tests/kola/libinsttest.sh
  tests/kola/libtest-core.sh
  tests/kola/nondestructive/data
  tests/kola/nondestructive/itest-bare-unit.sh
  tests/kola/nondestructive/itest-bare-user-root.sh
  tests/kola/nondestructive/itest-bareuser-nouserxattrs.sh
  tests/kola/nondestructive/itest-payload-link.sh
  tests/kola/nondestructive/itest-pull-space.sh
  tests/kola/nondestructive/itest-pull.sh
  tests/kola/nondestructive/itest-remotes.sh
  tests/kola/nondestructive/libtest-core.sh
  tests/libtest-core.sh
Labels: approved, lgtm, size/L

#2036 lib/pull: Don't leave commits pulled by depth as partial
  src/libostree/ostree-repo-pull.c
  tests/test-local-pull-depth.sh
Labels: approved, lgtm

#2037 lib/fetcher-util: retry download on G_IO_ERROR_PARTIAL_INPUT
  src/libostree/ostree-fetcher-util.c
Labels: approved, lgtm

#2040 tests/kola: Two test fixes
  tests/kola/destructive/itest-label-selinux.sh
  tests/kola/destructive/staged-deploy.sh
Labels: approved, lgtm

#2039 main/commit: Rework control flow to use --tree=X path
  src/ostree/ot-builtin-commit.c
Labels: approved, lgtm

#2042 tests/pull-repeated: Bump up retries to match max fails
  tests/test-pull-repeated.sh
Labels: approved, lgtm

#2041 repo/commit: Add support for --selinux-policy-from-base
  apidoc/ostree-sections.txt
  src/libostree/libostree-devel.sym
  src/libostree/ostree-repo-commit.c
  src/libostree/ostree-repo-private.h
  src/libostree/ostree-repo.h
  src/ostree/ot-builtin-commit.c
  tests/kola/destructive/itest-label-selinux.sh
Labels: approved, lgtm

#2045 lib: Add error prefixing for sysroot load and repo open
  src/libostree/ostree-repo.c
  src/libostree/ostree-sysroot.c
Labels: approved, lgtm

#1973 Don't copy summary for collection-ref mirror subset pulls
  man/ostree-find-remotes.xml
  src/libostree/ostree-repo-pull.c
  src/ostree/ot-builtin-find-remotes.c
  tests/test-pull-collections.sh
Labels: approved, lgtm, size/M
