Repository ostreedev/ostree, pull requests merged in 2020-07, with the labels that each got.

#2143 lib/repo: Handle EACCES for POSIX locking
  src/libostree/ostree-repo-commit.c
  src/libostree/ostree-repo.c
Labels: approved, lgtm

#2144 lib/deltas: convert ostree_repo_static_delta_generate to new style
  src/libostree/ostree-repo-static-delta-compilation.c
Labels: approved, lgtm

#2146 OWNERS: Uncomment @wmanley
  OWNERS
Labels: approved, lgtm

#2151 ci: Constrain parallel build jobs
  .cci.jenkinsfile
  ci/libbuild.sh
  tests/kolainst/nondestructive/itest-payload-link.sh
  tests/kolainst/nondestructive/itest-pull.sh
Labels: approved, lgtm

#2150 pull: Also append bytes written
  src/libostree/ostree-repo-pull.c
  tests/pull-test.sh
Labels: approved, lgtm

#2152 pull: Add --per-object-fsync
  man/ostree.repo-config.xml
  src/libostree/ostree-repo-commit.c
  src/libostree/ostree-repo-private.h
  src/libostree/ostree-repo-pull.c
  src/libostree/ostree-repo.c
  src/ostree/ot-builtin-pull-local.c
  src/ostree/ot-builtin-pull.c
  tests/pull-test.sh
Labels: approved, lgtm

#2153 Release 2020.4
  Makefile-libostree.am
  configure.ac
  src/libostree/libostree-devel.sym
  src/libostree/libostree-released.sym
  tests/test-symbols.sh
Labels: approved, lgtm

#2158 ci: test FCOS PXE and ISO install
  .cci.jenkinsfile
Labels: approved, lgtm, ok-to-test

#2157 Improve man pages
  man/ostree-commit.xml
  man/ostree.xml
Labels: approved, lgtm, needs-ok-to-test
