Repository ostreedev/ostree, pull requests merged in 2020-08, with the labels that each got.

#2156 app: Fix various CLI metavariable names
  src/ostree/ot-admin-builtin-switch.c
  src/ostree/ot-builtin-admin.c
  src/ostree/ot-builtin-commit.c
  src/ostree/ot-builtin-log.c
Labels: approved, lgtm

#2161 ci: Fix ISO testing
  .cci.jenkinsfile
Labels: approved, lgtm

#2162 tests/repo-finder: Explicitly commit empty dir
  tests/test-repo-finder-config.c
  tests/test-repo-finder-mount.c
Labels: approved, lgtm

#2160 remount: Still remount /sysroot writable if not configured ro
  src/switchroot/ostree-remount.c
Labels: approved, lgtm

#2159 Show commit checksum of parent, if present
  src/ostree/ot-dump.c
Labels: approved, lgtm, needs-ok-to-test

#2163 ci: Barf on unset umask
  ci/build.sh
Labels: approved, lgtm

#2166 pull: Add summary-{,sig-}bytes options to ostree_repo_pull()
  src/libostree/ostree-repo-pull.c
Labels: approved, lgtm

#2103 Add "transient" unlock
  src/libostree/ostree-deployment.c
  src/libostree/ostree-deployment.h
  src/libostree/ostree-sysroot-private.h
  src/libostree/ostree-sysroot.c
  src/ostree/ot-admin-builtin-unlock.c
  tests/kolainst/destructive/unlock-transient.sh
Labels: approved, lgtm

#2168 ci: add pxe-offline-install testiso scenario
  .cci.jenkinsfile
Labels: approved, lgtm, ok-to-test

#2170 dracut: Create reproducible images
  src/boot/dracut/ostree.conf
Labels: approved, lgtm, needs-ok-to-test

#2127 tests/inst: Add destructive test framework
  .cci.jenkinsfile
  Makefile.am
  tests/inst/Cargo.toml
  tests/inst/itest-macro/src/itest-macro.rs
  tests/inst/src/destructive.rs
  tests/inst/src/insttest.rs
  tests/inst/src/insttestmain.rs
  tests/inst/src/repobin.rs
  tests/inst/src/rpmostree.rs
  tests/inst/src/test.rs
  tests/inst/src/treegen.rs
  tests/kolainst/.gitignore
  tests/kolainst/Makefile
  tests/kolainst/destructive-stamp.ign
  tests/kolainst/install-wrappers.sh
Labels: approved, lgtm

#2172 Miscellaneous patches split out of #2155
  src/libostree/ostree-sysroot-cleanup.c
  src/libostree/ostree-sysroot-deploy.c
Labels: approved, lgtm

#2173 Release 2020.5
  configure.ac
Labels: approved, lgtm

#2174 tests/inst: Bump to latest ostree and gtk-rs
  tests/inst/Cargo.toml
Labels: approved, lgtm

#2149 sysroot: Support /boot on root or as seperate filesystem for syslinux and u-boot
  src/libostree/ostree-bootloader-syslinux.c
  src/libostree/ostree-bootloader-uboot.c
  src/libostree/ostree-sysroot-deploy.c
  tests/bootloader-entries-crosscheck.py
Labels: approved, lgtm

#2176 admin/pin: Enforce that index is a number
  src/ostree/ot-admin-builtin-pin.c
  tests/test-admin-deploy-2.sh
Labels: approved, lgtm

#2175 Two small Coverity fixes
  src/libostree/ostree-repo-pull.c
  src/switchroot/ostree-prepare-root.c
Labels: approved, lgtm

#2180 configure.ac: Set is_release_build=no
  configure.ac
Labels: approved, lgtm

#2182 Fix mkinitcpio with newer systemd versions
  src/boot/mkinitcpio/ostree
Labels: approved, lgtm, ok-to-test

#2181 tests/inst: Port to new sh-inline repo
  tests/inst/Cargo.toml
  tests/inst/src/destructive.rs
  tests/inst/src/repobin.rs
  tests/inst/src/sysroot.rs
  tests/inst/src/test.rs
  tests/inst/src/treegen.rs
Labels: approved, lgtm

#2183 tests/inst: Update to published sh-inline crate
  tests/inst/Cargo.toml
  tests/inst/src/destructive.rs
  tests/inst/src/repobin.rs
  tests/inst/src/test.rs
  tests/inst/src/treegen.rs
Labels: approved, lgtm

#2184 Add some missing GI tags
  src/libostree/ostree-repo-commit.c
  src/libostree/ostree-sign.c
  src/libostree/ostree-sign.h
Labels: approved, lgtm, ok-to-test

#2186 Fix read-only /etc when using sysroot=readonly and a separate /var mount
  .cci.jenkinsfile
  src/switchroot/ostree-prepare-root.c
  src/switchroot/ostree-remount.c
Labels: approved, lgtm
