Repository ostreedev/ostree, pull requests merged in 2020-01, with the labels that each got.

#1988 test-switchroot.sh: Find ostree-prepare-root in installed tests
  tests/test-switchroot.sh
Labels: approved, lgtm, needs-ok-to-test, size/S

#1987 Skip /var test if running with systemd and libmount
  configure.ac
  tests/libtest.sh
  tests/test-switchroot.sh
Labels: approved, lgtm, needs-ok-to-test, size/S

#1991 tests/core: Really pick C.UTF-8 locale
  tests/libtest-core.sh
Labels: approved, lgtm, size/XS

#1993 ci/rpmostree: Bump to 2019.4
  ci/rpmostree.sh
Labels: approved, lgtm, size/S

#1948 ostree/trivial-httpd: Fix --autoexit with --daemonize and --log-file
  src/ostree/ostree-trivial-httpd.c
Labels: approved, lgtm, ok-to-test, size/L

#1996 build: fix systemd feature advertisement
  Makefile-libostree.am
  configure.ac
Labels: approved, lgtm, needs-ok-to-test, size/S

#1877 More specific GPG errors
  Makefile-tests.am
  ci/flatpak-1.4.1-ostree-gpg-errors.patch
  ci/flatpak.sh
  src/libostree/ostree-gpg-verify-result.c
  src/libostree/ostree-gpg-verify-result.h
  tests/gpg-verify-data/README.md
  tests/gpg-verify-data/lgpl2.sig0
  tests/gpg-verify-data/lgpl2.sig1
  tests/gpg-verify-data/lgpl2.sig2
  tests/gpg-verify-data/lgpl2.sig3
  tests/gpg-verify-data/lgpl2.sig4
  tests/gpg-verify-data/trustdb.gpg
  tests/gpghome/revocations/key1.rev
  tests/gpghome/revocations/key2.rev
  tests/gpghome/revocations/key3.rev
  tests/libtest.sh
  tests/test-gpg-verify-result.c
  tests/test-pull-summary-sigs.sh
  tests/test-remote-gpg-import.sh
Labels: approved, lgtm, size/L

#1957 Upstream Endless sizes metadata changes
  Makefile-tests.am
  apidoc/ostree-sections.txt
  bash/ostree
  man/ostree-show.xml
  src/libostree/libostree-devel.sym
  src/libostree/ostree-autocleanups.h
  src/libostree/ostree-core-private.h
  src/libostree/ostree-core.c
  src/libostree/ostree-core.h
  src/libostree/ostree-repo-commit.c
  src/libostree/ostree-repo-libarchive.c
  src/libostree/ostree-repo-private.h
  src/ostree/ot-builtin-show.c
  tests/test-libarchive.sh
  tests/test-pull-sizes.sh
  tests/test-sizes.js
Labels: approved, lgtm, ok-to-test, size/XL

#1959 Initial fs-verity support
  configure.ac
  src/libostree/ostree-repo-commit.c
  src/libostree/ostree-repo-private.h
  src/libostree/ostree-repo.c
  src/libostree/ostree-sysroot-deploy.c
Labels: approved, lgtm, size/L
