Repository ostreedev/ostree, pull requests merged in 2020-02, with the labels that each got.

#1998 Add .cci.jenkinsfile
  .cci.jenkinsfile
  ci/ci-commitmessage-submodules.sh
Labels: approved, lgtm, size/M

#2000 travis: Update debian/ubuntu environments
  .travis.yml
Labels: approved, lgtm, size/XS

#1999 ci: Replace PAPR with CoreOS CI
  .cci.jenkinsfile
  .papr-ex.yaml
  .papr.yml
  tests/test-libarchive-import.c
Labels: approved, lgtm, size/L

#2003 docs: Fix 'package layering' rpm-ostree link
  docs/manual/adapting-existing.md
Labels: approved, lgtm, needs-ok-to-test, size/XS

#2009 deploy: Avoid trying to change immutable state unnecessarily
  src/libostree/ostree-linuxfsutil.c
Labels: approved, lgtm, size/XS

#2012 Update ostree-pull.xml with info about pulled refs location and access
  man/ostree-pull.xml
Labels: approved, lgtm, ok-to-test, size/XS

#1984 lib/repo: Create repo directories as 0775
  src/libostree/ostree-core-private.h
  src/libostree/ostree-repo-checkout.c
  src/libostree/ostree-repo-pull.c
  src/libostree/ostree-repo-refs.c
  src/libostree/ostree-repo-static-delta-compilation.c
  src/libostree/ostree-repo.c
Labels: approved, lgtm, size/S

#2013 prepare-root: Add a comment about the role of this service
  src/switchroot/ostree-prepare-root.c
Labels: approved, lgtm, size/S

#2014 lib: Fix Since versions for 2020.1
  src/libostree/ostree-core.c
  src/libostree/ostree-core.h
  src/libostree/ostree-gpg-verify-result.h
  src/libostree/ostree-sysroot.c
Labels: approved, lgtm, size/S

#2015 Release 2020.2
  configure.ac
  src/libostree/libostree-released.sym
  tests/test-symbols.sh
Labels: approved, lgtm, size/XS
