Repository ostreedev/ostree, pull requests merged in 2020-04, with the labels that each got.

#2049 sysroot: Reorganize sysroot load code a bit
  src/libostree/ostree-sysroot.c
Labels: approved, lgtm

#2051 lib: fix typo in function docs
  src/libostree/ostree-repo-finder-avahi.c
Labels: approved, lgtm, ok-to-test

#1878 Alternative signing system
  Makefile-libostree-defines.am
  Makefile-libostree.am
  Makefile-man.am
  Makefile-ostree.am
  Makefile-tests.am
  apidoc/ostree-docs.xml
  apidoc/ostree-sections.txt
  bash/ostree
  configure.ac
  man/ostree-commit.xml
  man/ostree-sign.xml
  man/ostree-summary.xml
  src/libostree/libostree-devel.sym
  src/libostree/ostree-autocleanups.h
  src/libostree/ostree-repo-pull.c
  src/libostree/ostree-repo.c
  src/libostree/ostree-sign-dummy.c
  src/libostree/ostree-sign-dummy.h
  src/libostree/ostree-sign-ed25519.c
  src/libostree/ostree-sign-ed25519.h
  src/libostree/ostree-sign.c
  src/libostree/ostree-sign.h
  src/libostree/ostree.h
  src/ostree/main.c
  src/ostree/ot-builtin-commit.c
  src/ostree/ot-builtin-pull-local.c
  src/ostree/ot-builtin-sign.c
  src/ostree/ot-builtin-summary.c
  src/ostree/ot-builtins.h
  src/ostree/ot-remote-builtin-add.c
  tests/libtest.sh
  tests/pull-test.sh
  tests/pull-test2.sh
  tests/test-local-pull.sh
  tests/test-pull-mirrorlist.sh
  tests/test-refs-collections.sh
  tests/test-remote-add.sh
  tests/test-remotes-config-dir.js
  tests/test-signed-commit.sh
  tests/test-signed-pull-summary.sh
  tests/test-signed-pull.sh
  tests/test-summary-collections.sh
Labels: approved, lgtm, size/XXL

#2055 lib: Squash two gtk-doc warnings
  src/libostree/ostree-repo-deprecated.h
  src/libostree/ostree-repo.h
Labels: approved, lgtm

#2044 grub2: Don't add menu entries if GRUB supports parsing BLS snippets
  src/boot/grub2/grub2-15_ostree
Labels: approved, lgtm, needs-ok-to-test

#2060 lib/repo-pull: fix GPG check while pulling remote
  src/libostree/ostree-repo-pull.c
Labels: approved, lgtm, ok-to-test

#2061 OWNERS: add d4s to reviewers
  OWNERS
Labels: approved, lgtm

#2058 pull: Update key loading function to match error style
  src/libostree/ostree-repo-pull.c
  tests/test-signed-pull.sh
Labels: approved, lgtm

#2064 Only enable "dummy" signature type with opt-in env variable
  src/libostree/ostree-sign-dummy.c
  tests/test-signed-commit.sh
  tests/test-signed-pull-summary.sh
  tests/test-signed-pull.sh
Labels: approved, lgtm

#2069 ci: Adapt to use new fcosKola semantics
  .cci.jenkinsfile
Labels: approved, lgtm

#2068 lib/pull: Two cosmetic internal function renames
  src/libostree/ostree-repo-pull.c
Labels: approved, lgtm

#2063 pull: Cleanup signature verification functions
  src/libostree/ostree-repo-pull.c
  src/libostree/ostree-sign-ed25519.c
  tests/test-local-pull.sh
  tests/test-signed-pull-summary.sh
  tests/test-signed-pull.sh
Labels: approved, lgtm

#2071 ci: Build minimal without libsodium too
  .cci.jenkinsfile
Labels: approved, lgtm

#2072 Use `sign-ed25519` for the feature name
  configure.ac
  tests/libtest.sh
  tests/test-local-pull.sh
  tests/test-signed-commit.sh
  tests/test-signed-pull-summary.sh
  tests/test-signed-pull.sh
Labels: approved, lgtm

#2070 travis: Add some libsodium coverage
  .travis.yml
  ci/travis-Dockerfile.in
  ci/travis-build.sh
  ci/travis-install.sh
Labels: approved, lgtm

#2075 tests/signed-commit: fix the test of well-known places
  tests/test-signed-commit.sh
Labels: approved, lgtm

#2073 lib: Move internal binding verification API to repo.c
  src/libostree/ostree-cmdprivate.c
  src/libostree/ostree-repo-private.h
  src/libostree/ostree-repo-pull-private.h
  src/libostree/ostree-repo-pull.c
  src/libostree/ostree-repo.c
Labels: approved, lgtm

#2076 sign: rename option for enabling ed25519
  .travis.yml
  configure.ac
Labels: approved, lgtm

#2077 lib/commit: Check that dirent is a directory before cleaning
  src/libostree/ostree-repo-commit.c
  src/libostree/ostree-repo-private.h
  src/libostree/ostree-repo.c
Labels: approved, lgtm

#2079 lib: Move gpg/signapi bits into ostree-repo-pull-verify.c
  Makefile-libostree.am
  src/libostree/ostree-repo-pull-private.h
  src/libostree/ostree-repo-pull-verify.c
  src/libostree/ostree-repo-pull.c
Labels: approved, lgtm

#2081 deploy: Add --no-merge
  .cci.jenkinsfile
  Makefile-tests.am
  src/ostree/ot-admin-builtin-deploy.c
  tests/test-admin-deploy-nomerge.sh
Labels: approved, lgtm

#2082 finalize-staged: Add ProtectHome=yes and ReadOnlyPaths=/etc
  src/boot/ostree-finalize-staged.service
Labels: approved, lgtm

#2083 Doc updates
  docs/manual/formats.md
  docs/manual/repo.md
Labels: approved, lgtm, ok-to-test

#2084 signapi: expose metadata format and key
  apidoc/ostree-sections.txt
  src/libostree/libostree-devel.sym
Labels: approved, lgtm
