Repository ostreedev/ostree, pull requests merged in 2021-11, with the labels that each got.

#2187 prepare-root: Set up sysroot readonly in initramfs
  src/switchroot/ostree-prepare-root.c
Labels: approved

#2476 lib: Fix a bad call to g_file_get_child
  src/libostree/ostree-repo-checkout.c
Labels: ok-to-test

#2477 Add Fedora Kinoite link
  README.md
Labels: ok-to-test

#2481 lib: Avoid dereferencing NULL error values
  src/libostree/ostree-repo-static-delta-core.c
  src/libostree/ostree-sign-ed25519.c
Labels: ok-to-test

#2489 Release 2021.6
  configure.ac
Labels: kind/release
