Repository ostreedev/ostree, pull requests merged in 2021-07, with the labels that each got.

#2392 OWNERS: remove
  OWNERS
Labels: needs-ok-to-test

#2396 Release 2021.3
  Makefile-libostree.am
  configure.ac
  src/libostree/libostree-devel.sym
  src/libostree/libostree-released.sym
  tests/test-symbols.sh
Labels: kind/release

#2398 man: improve statoverride description
  man/ostree-commit.xml
Labels: ok-to-test

#2407 tests: Unset SOURCE_DATE_EPOCH
  ci/gh-build.sh
  tests/libtest.sh
Labels: ok-to-test

#2406 fix: Avoid wild pointers
  src/ostree/ot-main.c
Labels: ok-to-test

#2408 workflows: bump lint toolchain; restrict repository access
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/tests.yml
Labels: needs-ok-to-test
