Repository ostreedev/ostree, pull requests merged in 2021-03, with the labels that each got.

#2287 lib/sysroot: Add comments and debug statements around sysroot parsing
  src/libostree/ostree-sysroot.c
Labels: approved, lgtm

#2288 docs: Add Torizon to related projects and OS
  docs/index.md
  docs/related-projects.md
Labels: approved, lgtm, needs-ok-to-test

#2290 man: Add missing repo mode in config docs
  man/ostree.repo-config.xml
Labels: approved, lgtm

#2293 Fix translation of file:// URIs into paths
  src/libostree/ostree-repo-pull.c
Labels: approved, lgtm

#2302 tests/inst: Fix lots of `cargo clippy` warnings
  tests/inst/src/destructive.rs
  tests/inst/src/insttestmain.rs
  tests/inst/src/test.rs
Labels: approved

#2303 ci: Add a Github Action for Rust for tests/inst
  .github/workflows/tests.yml
  tests/inst/src/destructive.rs
  tests/inst/src/test.rs
Labels: approved

#2301 sysroot: Add _require_booted_deployment() API
  apidoc/ostree-sections.txt
  src/libostree/libostree-devel.sym
  src/libostree/ostree-sysroot-deploy.c
  src/libostree/ostree-sysroot.c
  src/libostree/ostree-sysroot.h
  src/ostree/ot-admin-builtin-set-origin.c
  src/ostree/ot-admin-builtin-unlock.c
  tests/admin-test.sh
Labels: approved

#2298 Add configure option for unsuffixed GRUB2 commands linux/initrd
  configure.ac
  src/libostree/ostree-bootloader-grub2.c
Labels: ok-to-test

#2317 lib: fix some version tags
  src/libostree/ostree-repo-static-delta-core.c
Labels: needs-ok-to-test
