Repository ostreedev/ostree, pull requests merged in 2022-10, with the labels that each got.

#2730 Release 2022.6
  configure.ac
Labels: kind/release

#2735 [rhel8] copr: mark git checkout as safe
  .copr/Makefile
Labels: backport/rhel8

#2736 make-git-snapshot: Always run `git submodule init`
  ci/make-git-snapshot.sh
Labels: backport/rhel8

#2663 lib/static-delta: document and check parameters format
  rust-bindings/tests/repo/generate_static.rs
  rust-bindings/tests/repo/mod.rs
  src/libostree/ostree-repo-static-delta-compilation.c
Labels: ok-to-test

#2752 readdir-rand: Copy full size of struct dirent
  tests/readdir-rand.c
Labels: ok-to-test
