Repository ostreedev/ostree, pull requests merged in 2023-11, with the labels that each got.

#3080 lib/bootloader-zipl: Check for Secure Boot before zipl
  src/libostree/ostree-bootloader-zipl.c
Labels: ok-to-test

#3093 rust: Add a `stateroot()` alias in the Rust bindings
  rust-bindings/src/deployment.rs
  rust-bindings/src/lib.rs
Labels: area/rust-bindings

#3099 man: improve sysroot.readonly docs
  man/ostree-prepare-root.xml
  man/ostree.repo-config.xml
Labels: needs-ok-to-test
