Repository ostreedev/ostree, pull requests merged in 2023-09, with the labels that each got.

#3029 rust: Port to glib 0.18
  Cargo.toml
  rust-bindings/src/auto/mutable_tree.rs
  rust-bindings/src/auto/repo.rs
  rust-bindings/src/auto/versions.txt
  rust-bindings/src/collection_ref.rs
  rust-bindings/src/commit_sizes_entry.rs
  rust-bindings/src/kernel_args.rs
  rust-bindings/src/repo.rs
  rust-bindings/src/tests/kernel_args.rs
  rust-bindings/sys/Cargo.toml
  rust-bindings/sys/src/auto/versions.txt
  rust-bindings/sys/src/lib.rs
  rust-bindings/sys/tests/abi.rs
Labels: area/rust-bindings, reward/medium

#3035 rust/sys: Also bump semver for this
  Cargo.toml
  rust-bindings/sys/Cargo.toml
Labels: area/rust-bindings

#3038 rust: Drop composefs from crate
  Cargo.toml
Labels: area/rust-bindings

#2054 lib/pull: Don't scan commit objects we fetch via deltas
  .cci.jenkinsfile
  src/libostree/ostree-repo-pull-private.h
  src/libostree/ostree-repo-pull.c
  src/ostree/ot-builtin-pull-local.c
  tests/test-delta.sh
  tests/test-pull-localcache.sh
Labels: approved

#3021 tests: Add an integration test for composefs signatures
  tests/inst/src/composefs.rs
  tests/inst/src/test.rs
Labels: area/composefs, area/tests
