Repository ostreedev/ostree, pull requests merged in 2023-06, with the labels that each got.

#2877 Add ostree=aboot for signed Android Boot Images
  src/switchroot/ostree-mount-util.h
  src/switchroot/ostree-prepare-root.c
  src/switchroot/ostree-system-generator.c
Labels: ok-to-test

#2865 Increase the metadata size limit to 128MB
  src/libostree/ostree-core.h
  tests/test-basic-c.c
  tests/test-pull-large-metadata.sh
Labels: ok-to-test, triaged, reward/medium

#2880 fix build with lld linker
  configure.ac
Labels: ok-to-test

#2886 ostree-fetcher-curl: explicitly use HTTP1.1 when HTTP2 is disabled
  src/libostree/ostree-fetcher-curl.c
Labels: ok-to-test

#2891 lib: Rework composefs metadata, drop custom signatures
  Makefile-libostree.am
  Makefile-tests.am
  apidoc/ostree-sections.txt
  docs/composefs.md
  src/libostree/libostree-devel.sym
  src/libostree/ostree-repo-commit.c
  src/libostree/ostree-repo-composefs.c
  src/libostree/ostree-repo-private.h
  src/libostree/ostree-repo-verity.c
  src/libostree/ostree-repo.h
  src/libostree/ostree-sysroot-deploy.c
  src/ostree/ot-builtin-commit.c
  src/switchroot/ostree-prepare-root.c
  tests/test-composefs.sh
Labels: composefs

#2893 ci: Add some composefs testing
  ci/prow/Dockerfile
  ci/prow/fcos-e2e.sh
  tests/inst/src/composefs.rs
  tests/inst/src/insttestmain.rs
Labels: triaged, composefs

#2895 Release 2023.4
  Makefile-libostree.am
  configure.ac
  src/libostree/libostree-devel.sym
  src/libostree/libostree-released.sym
  tests/test-symbols.sh
Labels: kind/release

#2896 lib/deploy: Use off_t not __off_t
  src/libostree/ostree-sysroot-deploy.c
Labels: ok-to-test

#2902 bootloader: Pass "options" to aboot bootloader backend
  src/libostree/ostree-bootloader-aboot.c
Labels: ok-to-test
