Repository ostreedev/ostree, pull requests merged in 2023-12, with the labels that each got.

#3105 sysroot: Add a method to borrow sysroot fd
  rust-bindings/src/sysroot.rs
Labels: area/rust-bindings

#3121 Link to gardenlinux/ostree-image-builder in README
  README.md
Labels: needs-ok-to-test

#3125 switchroot: Be explicit about what could cause /sysroot to be ro
  src/switchroot/ostree-mount-util.h
  src/switchroot/ostree-prepare-root-static.c
  src/switchroot/ostree-prepare-root.c
Labels: area/prepare-root
