Repository ostreedev/ostree, pull requests merged in 2023-10, with the labels that each got.

#3060 When exporting, use hardlinks for duplicated files
  src/libostree/ostree-repo-libarchive.c
  tests/archive-test.sh
  tests/libtest.sh
  tests/test-composefs.sh
  tests/test-export.sh
Labels: ok-to-test

#3062 Support transient /etc
  Makefile-switchroot.am
  man/ostree-prepare-root.xml
  src/libotcore/otcore.h
  src/switchroot/ostree-prepare-root.c
  src/switchroot/ostree-remount.c
Labels: area/prepare-root

#2843 ostree-fetcher-curl: handle non 404 errors as G_IO_ERROR_TIMED_OUT
  man/ostree-pull.xml
  src/libostree/ostree-fetcher-curl.c
  src/libostree/ostree-fetcher-soup.c
  src/libostree/ostree-fetcher-soup3.c
  src/libostree/ostree-fetcher.h
  src/libostree/ostree-repo-private.h
  src/libostree/ostree-repo-pull-private.h
  src/libostree/ostree-repo-pull.c
  src/ostree/ot-builtin-pull.c
Labels: difficulty/medium, triaged, reward/high
