Repository ostreedev/ostree, pull requests merged in 2024-12, with the labels that each got.

#3357 sign-ed25519: Fix error message of validate_length
  src/libostree/ostree-sign-ed25519.c
Labels: needs-ok-to-test

#3348 rofiles-fuse: when fuse execution fails, rofiles-fuse still returns exit code 0
  src/rofiles-fuse/main.c
Labels: needs-ok-to-test

#3354 prepare-root: Add composefs.enabled=verity
  docs/composefs.md
  man/ostree-prepare-root.xml
  src/libostree/ostree-sysroot-deploy.c
  src/libotcore/otcore-prepare-root.c
  src/libotcore/otcore.h
  src/switchroot/ostree-prepare-root.c
Labels: ok-to-test, area/prepare-root

#3353 libostree/deploy: enable composefs by default
  src/libostree/ostree-sysroot-deploy.c
  tests/admin-test.sh
  tests/test-admin-deploy-composefs.sh
Labels: area/composefs
