Repository ostreedev/ostree, pull requests merged in 2024-01, with the labels that each got.

#3128 switchroot: use shared constant for unlock --hotfix
  src/libotcore/otcore.h
  src/switchroot/ostree-prepare-root.c
Labels: area/prepare-root

#3129 prepare-root: Fix composefs + ostree admin unlock --hotfix compat
  src/switchroot/ostree-prepare-root.c
Labels: area/composefs, area/prepare-root

#3143 deploy: Ignore sockets, fifos in /etc/<subdir> during merge
  src/libostree/ostree-sysroot-deploy.c
Labels: ok-to-test
