Repository ostreedev/ostree, pull requests merged in 2024-02, with the labels that each got.

#3164 Track deployment root/inode from prepare root
  src/libostree/ostree-sysroot-private.h
  src/libostree/ostree-sysroot.c
  src/libotcore/otcore.h
  src/switchroot/ostree-prepare-root.c
Labels: area/prepare-root

#3151 libostree: write selinux xattr when on non-selinux systems
  .github/workflows/bootc.yaml
  src/libostree/ostree-repo-checkout.c
  src/libostree/ostree-sepolicy.c
  src/libostree/ostree-sepolicy.h
Labels: difficulty/medium, ok-to-test, triaged, reward/medium

#3165 deploy: Honor prepare-root.conf at deploy time for composefs
  Makefile-tests.am
  src/libostree/ostree-sysroot-deploy.c
  src/libotcore/otcore-prepare-root.c
  src/libotcore/otcore.h
  src/switchroot/ostree-prepare-root.c
  tests/admin-test.sh
  tests/test-admin-deploy-composefs.sh
Labels: area/prepare-root

#3169 Expose MOUNT_ATTR_IDMAP detection result to C code
  configure.ac
Labels: ok-to-test

#3170 prepare-root: Unify root.transient with composefs
  src/switchroot/ostree-prepare-root.c
Labels: area/prepare-root

#3173 prepare-root: Switch to a tmpfs for transient root
  src/switchroot/ostree-prepare-root.c
Labels: area/prepare-root

#3178 tests: Use long key IDs
  tests/test-admin-gpg.sh
  tests/test-commit-sign.sh
Labels: ok-to-test

#3180 tests: Use long key IDs, I found another one
  tests/test-gpg-verify-result.c
Labels: ok-to-test

#3176 workflow/docs: Update to actions/checkout@v4 & dependabot: Update github-actions weekly
  .github/dependabot.yml
  .github/workflows/docs.yml
Labels: ok-to-test

#3189 deploy: Don't fail if loading composefs configuration fails due to mi…
  src/libostree/ostree-sysroot-deploy.c
  src/libotcore/otcore-prepare-root.c
  src/libotcore/otcore.h
  src/switchroot/ostree-prepare-root.c
Labels: area/prepare-root

#3186 ostree-prepare-root: Amend comment about shared mounts
  src/switchroot/ostree-prepare-root-static.c
  src/switchroot/ostree-prepare-root.c
Labels: needs-ok-to-test, area/prepare-root

#3194 prepare-root: Disallow hotfixes if using signed composefs images
  src/switchroot/ostree-prepare-root.c
Labels: area/prepare-root

#3192 generator: Fixes for Android Boot environment
  src/libostree/ostree-impl-system-generator.c
  src/libostree/ostree-sysroot-private.h
  src/libostree/ostree-sysroot.c
  src/libotcore/otcore-prepare-root.c
  src/libotcore/otcore.h
  src/switchroot/ostree-prepare-root.c
  tests/test-otcore.c
Labels: ok-to-test, area/prepare-root

#3195 sysroot: Reword comment and use gboolean over bool, error handling
  src/libostree/ostree-impl-system-generator.c
  src/libostree/ostree-sysroot-private.h
  src/libostree/ostree-sysroot.c
  src/libotcore/otcore-prepare-root.c
  src/libotcore/otcore.h
  src/switchroot/ostree-prepare-root.c
  tests/test-otcore.c
Labels: area/prepare-root
