Repository ostreedev/ostree, pull requests merged in 2025-02, with the labels that each got.

#3376 Update GIR
  Cargo.toml
  rust-bindings/Makefile
  rust-bindings/src/auto/async_progress.rs
  rust-bindings/src/auto/bootconfig_parser.rs
  rust-bindings/src/auto/collection_ref.rs
  rust-bindings/src/auto/commit_sizes_entry.rs
  rust-bindings/src/auto/constants.rs
  rust-bindings/src/auto/content_writer.rs
  rust-bindings/src/auto/deployment.rs
  rust-bindings/src/auto/diff_item.rs
  rust-bindings/src/auto/enums.rs
  rust-bindings/src/auto/flags.rs
  rust-bindings/src/auto/functions.rs
  rust-bindings/src/auto/gpg_verify_result.rs
  rust-bindings/src/auto/mod.rs
  rust-bindings/src/auto/mutable_tree.rs
  rust-bindings/src/auto/remote.rs
  rust-bindings/src/auto/repo.rs
  rust-bindings/src/auto/repo_commit_modifier.rs
  rust-bindings/src/auto/repo_dev_ino_cache.rs
  rust-bindings/src/auto/repo_file.rs
  rust-bindings/src/auto/repo_finder.rs
  rust-bindings/src/auto/repo_finder_avahi.rs
  rust-bindings/src/auto/repo_finder_config.rs
  rust-bindings/src/auto/repo_finder_mount.rs
  rust-bindings/src/auto/repo_finder_override.rs
  rust-bindings/src/auto/repo_finder_result.rs
  rust-bindings/src/auto/se_policy.rs
  rust-bindings/src/auto/sign.rs
  rust-bindings/src/auto/sysroot.rs
  rust-bindings/src/auto/sysroot_upgrader.rs
  rust-bindings/src/auto/versions.txt
  rust-bindings/sys/Cargo.toml
  rust-bindings/sys/build.rs
  rust-bindings/sys/src/auto/versions.txt
  rust-bindings/sys/src/lib.rs
  rust-bindings/sys/tests/abi.rs
  rust-bindings/sys/tests/constant.c
  rust-bindings/sys/tests/layout.c
  rust-bindings/tests/functions/mod.rs
Labels: needs-ok-to-test, area/rust-bindings

#3378 Update gir followup
  Cargo.toml
  rust-bindings/Makefile
  rust-bindings/src/auto/repo.rs
  rust-bindings/src/auto/sysroot.rs
  rust-bindings/src/auto/versions.txt
  rust-bindings/src/repo.rs
  rust-bindings/src/sysroot.rs
  rust-bindings/sys/Cargo.toml
  rust-bindings/sys/src/auto/versions.txt
  rust-bindings/sys/src/lib.rs
  src/libostree/ostree-repo-checkout.c
  src/libostree/ostree-sysroot-deploy.c
Labels: area/rust-bindings

#3379 zipl: remove 'sdboot' image before generating new one
  src/libostree/ostree-bootloader-zipl.c
Labels: needs-ok-to-test

#3377 prepare-root: Log when we're mounting with verity required
  src/libotcore/otcore.h
  src/switchroot/ostree-prepare-root.c
Labels: area/prepare-root

#3382 libostree: add private dependencies to pkg-config
  configure.ac
  src/libostree/ostree-1.pc.in
Labels: ok-to-test
