Repository ostreedev/ostree, pull requests merged in 2025-01, with the labels that each got.

#3362 bin/admin-upgrade: add kexec support
  Makefile-libostree.am
  apidoc/ostree-sections.txt
  man/ostree-admin-switch.xml
  man/ostree-admin-upgrade.xml
  src/libostree/libostree-devel.sym
  src/libostree/ostree-sysroot-deploy.c
  src/libostree/ostree-sysroot-upgrader.c
  src/libostree/ostree-sysroot-upgrader.h
  src/libostree/ostree-sysroot.h
  src/ostree/ot-admin-builtin-switch.c
  src/ostree/ot-admin-builtin-upgrade.c
Labels: ok-to-test

#3364 chore: Use geteuid() instead of getuid() to check privilege
  src/libostree/ostree-bootloader-zipl.c
  src/libostree/ostree-repo-commit.c
  src/libostree/ostree-sysroot.c
  src/libotutil/ot-unix-utils.c
  src/libotutil/ot-unix-utils.h
  src/ostree/ot-main.c
Labels: ok-to-test

#3367 tree-wide: Rerun clang-format, update ci
  .clang-format
  .github/workflows/tests.yml
  rust-bindings/sys/tests/.clang-format-ignore
  rust-bindings/sys/tests/constant.c
  src/libostree/ostree-bloom.c
  src/libostree/ostree-diff.h
  src/libostree/ostree-repo-composefs.c
  src/libostree/ostree-sysroot-deploy.c
  src/libostree/ostree-sysroot-upgrader.c
  src/libostree/ostree-sysroot.h
  src/libotutil/ot-unix-utils.c
  src/ostree/ot-admin-builtins.h
  src/switchroot/ostree-prepare-root-static.c
Labels: area/rust-bindings, area/prepare-root

#3370 docs: update Dockerfile
  docs/contributing-tutorial.md
Labels: needs-ok-to-test

#3375 libotutil: Remove redundant import of prctl.h
  src/libotutil/ot-unix-utils.c
Labels: ok-to-test
