Repository ostreedev/ostree, pull requests merged in 2025-03, with the labels that each got.

#3394 Update introduction.md
  docs/introduction.md
Labels: needs-ok-to-test

#3278 sign: Support generic "spki" type of commit signatures
  Makefile-libostree-defines.am
  Makefile-libostree.am
  Makefile-otcore.am
  Makefile-tests.am
  apidoc/ostree-sections.txt
  configure.ac
  man/ostree-commit.xml
  man/ostree-sign.xml
  rust-bindings/sys/tests/constant.c
  src/libostree/libostree-devel.sym
  src/libostree/ostree-blob-reader-base64.c
  src/libostree/ostree-blob-reader-base64.h
  src/libostree/ostree-blob-reader-pem.c
  src/libostree/ostree-blob-reader-pem.h
  src/libostree/ostree-blob-reader-private.h
  src/libostree/ostree-blob-reader-raw.c
  src/libostree/ostree-blob-reader-raw.h
  src/libostree/ostree-blob-reader.c
  src/libostree/ostree-blob-reader.h
  src/libostree/ostree-sign-ed25519.c
  src/libostree/ostree-sign-spki.c
  src/libostree/ostree-sign-spki.h
  src/libostree/ostree-sign.c
  src/libostree/ostree-sign.h
  src/libotcore/otcore-ed25519-verify.c
  src/libotcore/otcore-spki-verify.c
  src/libotcore/otcore.h
  src/ostree/ot-builtin-commit.c
  src/ostree/ot-builtin-sign.c
  tests/libtest.sh
  tests/test-pem.c
  tests/test-signed-commit-dummy.sh
  tests/test-signed-commit-ed25519.sh
  tests/test-signed-commit-spki.sh
Labels: ok-to-test, area/rust-bindings

#3401 Fix build error with --with-ed25519-libsodium and --with-openssl
  src/libotcore/otcore.h
Labels: ok-to-test

#3400 rust: Add support for `locked` option for `SysrootDeployTreeOpts`
  rust-bindings/src/sysroot_deploy_tree_opts.rs
Labels: area/rust-bindings
