Repository ostreedev/ostree, pull requests merged in 2025-07, with the labels that each got.

#3460 soft-reboot: Many changes
  apidoc/ostree-sections.txt
  configure.ac
  man/ostree-admin-prepare-soft-reboot.xml
  src/libostree/libostree-devel.sym
  src/libostree/ostree-soft-reboot.c
  src/libostree/ostree-sysroot-deploy.c
  src/libostree/ostree-sysroot-private.h
  src/libostree/ostree-sysroot.c
  src/libostree/ostree-sysroot.h
  src/libotcore/otcore.h
  src/ostree/ot-admin-builtin-prepare-soft-reboot.c
  src/ostree/ot-builtin-admin.c
  tests/kolainst/destructive/soft-reboot.sh
Labels: area/soft-reboot

#3455 rust: Add v2025_3 feature and bump versions
  Cargo.toml
  rust-bindings/src/auto/deployment.rs
  rust-bindings/src/auto/repo.rs
  rust-bindings/src/auto/sysroot.rs
  rust-bindings/src/auto/versions.txt
  rust-bindings/sys/Cargo.toml
  rust-bindings/sys/src/auto/versions.txt
  rust-bindings/sys/src/lib.rs
Labels: area/rust-bindings

#3475 Fix since annotations && update rust bindings
  rust-bindings/Makefile
  rust-bindings/src/auto/bootconfig_parser.rs
  rust-bindings/src/auto/deployment.rs
  rust-bindings/src/auto/repo.rs
  rust-bindings/src/auto/sysroot.rs
  rust-bindings/src/auto/versions.txt
  rust-bindings/sys/src/auto/versions.txt
  rust-bindings/sys/src/lib.rs
  src/libostree/ostree-deployment.c
  src/libostree/ostree-sysroot-deploy.c
Labels: area/rust-bindings

#3477 ostree-prepare-root: remove duplicate transient directory
  src/libotcore/otcore-prepare-root.c
Labels: needs-ok-to-test

#3484 Two rust patches
  Cargo.toml
  rust-bindings/src/lib.rs
  rust-bindings/src/sysroot.rs
  rust-bindings/sys/Cargo.toml
Labels: area/rust-bindings

#3487 soft-reboot: Also handle /boot
  src/libostree/ostree-soft-reboot.c
  src/libotcore/otcore-prepare-root.c
  src/libotcore/otcore.h
  src/switchroot/ostree-prepare-root.c
Labels: area/prepare-root
