Repository ostreedev/ostree, pull requests merged in 2025-05, with the labels that each got.

#3422 rust: Update to 2025.2
  rust-bindings/src/auto/constants.rs
  rust-bindings/src/auto/gpg_verify_result.rs
  rust-bindings/src/auto/mod.rs
  rust-bindings/src/auto/mutable_tree.rs
  rust-bindings/src/auto/se_policy.rs
  rust-bindings/src/auto/sign.rs
  rust-bindings/src/auto/versions.txt
  rust-bindings/sys/Cargo.toml
  rust-bindings/sys/src/auto/versions.txt
  rust-bindings/sys/src/lib.rs
  rust-bindings/sys/tests/abi.rs
  rust-bindings/sys/tests/layout.c
Labels: area/rust-bindings

#3425 tests: remove unused import
  tests/inst/src/test.rs
Labels: needs-ok-to-test

#3435 prep patches for: soft-reboot
  src/switchroot/ostree-prepare-root.c
Labels: area/prepare-root
